.nav-item{

padding-right: 50px;

}

.navbar-brand{

padding-left: 120px;

}

.footnote{

text-align: center;
color: white;
font-size: 20px;
font-weight: strong;
padding: 25px;
}

/*.midspace{

padding-right: 10px;

}*/
.navBut{

padding-left: 450px;


}

.banner{
padding: 100px;
color: white;
text-align: center;

}

.txt1{


	font-size: 50px;
	font-weight: bold;
}

.txt20{


	font-size: 20px;
	font-weight: bold;
}

.card-title{

text-align: center;
	
}

.card-text{

	text-align: center;
	text-rendering: auto;

}

.btn-light{


	margin-left: 80px;
}

/*.bi-star-fill{

align-self: center;
margin-left: 10px;
color: yellow;

}*/

.rate{
text-align: center;
color: gold;

}

.btn-light{

margin-bottom: 20px;
}