.flex-wrapper{

display: flex;
flex-direction: wrap;
/*
justify-content: center;
justify-content: flex-start;
justify-content: flex-end;*/

justify-content: space-around;

}

.flex-wrapper > div{

background-color:red;
color: 	white;
padding: 25px;
margin: 	10px;
font-size: 	20px;

}